<table>
  <% @scrapes.each do |month| %>
    <% month.each do |info| %>
      <tr>
        <th>日付</th>
        <td><%= info[:date] %></td>
      </tr>
      <tr>
        <th>タイトル</th>
        <td><%= info[:main_title] %></td>
      </tr>
      <tr>
        <th>出演者</th>
        <td><%= info[:detail] %></td>
      </tr>
    <% end %>
  <% end %>
</table>
